
.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #7FA8B1;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #161416;
}
html {
  height: 100vh;
}
.canvas_container {
  height: 100vh;
}
.Custom_Galaxy{
  height: 100vh;
}
.name_title {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name, .title {
  text-align: center;
}
.name {
  margin-bottom: 0px;
  font-size: 80px;
  margin-top: 0px;
}
.title {
  
  margin-top: 10px;
  font-size: 40px;
}
.name:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  animation: ease-in;
  border-bottom: 1px solid #7FA8B1;
}
.to_projects {
  position: absolute;
  color: white;
  border: 1px solid #9DD0CC;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -70%);
  font-size: 30px;
  padding: 10px;
  padding-top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(to right, rgba(105, 129, 143, 0.363) 50%, transparent 50%);
  
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}
.to_projects p {
  margin-top: 0px;
  margin-bottom: 0px;
  
}
.to_projects:hover {
  cursor: pointer;
  background-position: left bottom;
}
.arrow_rotate {
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: ease-in .2s;
}
.arrow_rotate:hover {
    transform: rotate(90deg);
    transition: ease-in .2s;
}
.blah {
  height: 100vh;
}
/*#69818F*/